doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Dashboards Four | Notika - Notika Admin Template
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //
        favicon
        ============================================
    link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico')
    //
        Google Fonts
        ============================================
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet')
    //
        Bootstrap CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/bootstrap.min.css')
    //
        font awesome CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/font-awesome.min.css')
    //
        owl.carousel CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/owl.carousel.css')
    link(rel='stylesheet' href='/assets/css/owl.theme.css')
    link(rel='stylesheet' href='/assets/css/owl.transitions.css')
    //
        meanmenu CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/meanmenu/meanmenu.min.css')
    //
        animate CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/animate.css')
    //
        normalize CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/normalize.css')
    //
        mCustomScrollbar CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/scrollbar/jquery.mCustomScrollbar.min.css')
    //
        jvectormap CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/jvectormap/jquery-jvectormap-2.0.3.css')
    //
        Notika icon CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/notika-custom-icon.css')
    //
        wave CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/wave/waves.min.css')
    link(rel="stylesheet" href="/assets/css/wave/button.css")
    link(rel="stylesheet" href="/assets/css/bootstrap-select/bootstrap-select.css")
    //
        main CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/main.css')
    //
        style CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/style.css')
    //
        responsive CSS
        ============================================
    link(rel='stylesheet' href='/assets/css/responsive.css')
    //
        modernizr JS
        ============================================
    script(src='/assets/js/vendor/modernizr-2.8.3.min.js')
//if lt IE 8
    p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
body
    include ./partials/header
    include ./partials/mobile-menu
    // Main Menu area start
    include ./partials/sidebar
    // Main Menu area End
    // Start Status area
    block content
    // End Status area
    // Start Footer area
    include ./partials/footer
    // End Footer area
    //
        jquery
        ============================================
    script(src='/assets/js/vendor/jquery-1.12.4.min.js')
    //
        bootstrap JS
        ============================================
    script(src='/assets/js/bootstrap.min.js')
    //
        wow JS
        ============================================
    script(src='/assets/js/wow.min.js')
    script(src='/assets/js/meanmenu/jquery.meanmenu.js')

    script(src='/assets/js/sparkline/jquery.sparkline.min.js')
    script(src='/assets/js/sparkline/sparkline-active.js')
    //
        knob JS
        ============================================
    script(src='/assets/js/knob/jquery.knob.js')
    script(src='/assets/js/knob/jquery.appear.js')
    script(src='/assets/js/knob/knob-active.js')
    //
        wave JS
        ============================================
    script(src='/assets/js/wave/waves.min.js')
    script(src='/assets/js/wave/wave-active.js')
    //
        plugins JS
        ============================================
    script(src='/assets/js/plugins.js')
    //
        main JS
        ============================================
    script(src='/assets/js/main.js')
    block script