#sidebar
    .container
        span.small.grey-text Đơn vị tổ chức
        ul.list-group
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   Khoa học và kỹ thuật máy tính
                span.badge.badge-primary.badge-pill
                    |   1
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   Khoa Quản lý môi trường
                span.badge.badge-primary.badge-pill
                    |   5
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   Khoa Điện - Điện tử
                span.badge.badge-primary.badge-pill
                    |   10
        .mt-4
        span.small.grey-text Hoạt động tham gia gần đây
        ul.list-group
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   CTXH Mái ấm quê hương
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   CTXH Cô nhi viện thiên bình
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="#")
                    |   [HH] CTXH Quán Cơm Nụ Cười 7 Tuần 01/04 - 07/04
                span.badge.badge-primary.badge-pill
                    |   1