#sidebar
    .container
        span.small.grey-text Đơn vị tổ chức
        ul.list-group
            each unit in orgUnit
                li.list-group-item.d-flex.justify-content-between.align-items-center(style="padding: 5px 20px")
                    a(href="#")
                        =   unit.orgUnit
                    span.badge.badge-primary.badge-pill
                        =   unit.num
        .mt-4
        span.small.grey-text Hoạt động tham gia gần đây
        ul.list-group
            each activity in userActivities
                li.list-group-item.d-flex.justify-content-between.align-items-center(style="padding: 5px 20px")
                    a(href="/activity-detail/"+activity.id)
                        = activity.name