extends ./layout

block content
    .card.promoting-card
        // Card content
        .card-body.d-flex.flex-row
            // Avatar
            img.rounded-circle.mr-3(src='https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg' height='50px' width='50px' alt='avatar')
            // Content
            div
            // Title
            h4.card-title.font-weight-bold.mb-2 New spicy meals
            // Subtitle
            p.card-text
                i.far.fa-clock.pr-2
                | 07/24/2018
        // Card image
        .view.overlay
            img.card-img-top.rounded-0(src='https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg' alt='Card image cap')
            a(href='#!')
            .mask.rgba-white-slight
        // Card content
        .card-body
            .collapse-content
            // Text
            p#collapseContent.card-text.collapse
                | Recently, we added several exotic new dishes to the menu of our restaurant. They come from countries such as Mexico, Argentina, and Spain. Come to us, have a delicious wine and enjoy the juicy meals from around the world.
            // Button
            a.btn.btn-flat.red-text.p-1.my-1.mr-0.mml-1.collapsed(data-toggle='collapse' href='#collapseContent' aria-expanded='false' aria-controls='collapseContent')
            i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle='tooltip' data-placement='top' title='Share this post')
            i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3(data-toggle='tooltip' data-placement='top' title='I like it')
        // Card
