extends layout
block content
    .row
       
        .col-lg-12
            .card.promoting-card.mb-2
                .card-body.d-flex.flex-row
                    div
                        <button type="button" class="btn btn-primary btn-rounded">Lập báo cáo</button>
                        h4.card-title.font-weight-bold.mb-2
                            |   CTXH MÁI ẤM QUÊ HƯƠNG
                        
                        p.card-text
                            i.far.fa-clock.pr-2
                            |   21/04/2019
                        p.card-text
                            i.far.fa-map.pr-2
                            |   1210, Đường ĐT743, Ấp Tân Long, Xã Tân Đông Hiệp, Huyện Dĩ An – Bình Dương.
                    .m-auto
                    img.float-right.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                    //<button type="button" class="btn btn-primary btn-rounded">Primary</button>
                .view.overlay
                    //- img.card-img-top.rounded-0(src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap")
                    #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                        ol.carousel-indicators
                            li(data-target="#carousel-example-1z" data-slide-to="0").active
                            li(data-target="#carousel-example-1z" data-slide-to="1")
                            li(data-target="#carousel-example-1z" data-slide-to="2")
                        .carousel-inner(role="listbox")
                            .carousel-item.active
                                img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide")
                            .carousel-item
                                img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="First slide")
                            .carousel-item
                                img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="First slide")
                        a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.sr-only
                                |   Previous
                        a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only
                                |   Next
                    a(href="#!")
                        .mask.rgba-white-slight
                .card-body
                    |    Loại hoạt động: Hoạt động Công tác xã hội (tình nguyện) tại mái ấm, nhà mở, làng trẻ em, khu điều dưỡng cho người già…

      
                    div
                        .btn-group.btn-group-toggle.d-flex.flex-column.flex-md-row(data-toggle='buttons')
                            label.btn.btn-primary.active
                                input(type='checkbox' checked='' autocomplete='off')
                                | Đăng ký
                            label.btn.btn-primary
                                input(type='checkbox' autocomplete='off')
                                |  Bình luận 
                            label.btn.btn-primary
                                input(type='checkbox' autocomplete='off')
                                |  Thành viên 
                            
                            i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle="tooltip" data-placement="top" title="Share this post")
                            i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(data-toggle="tooltip" data-placement="top" title="I like it")
                                |  200
                        