extends layout
block content
    .row
        .col-lg-12
            .card.promoting-card.mb-2
                .card-body.d-flex.flex-row
                    div
                        h4.card-title.font-weight-bold.mb-2
                            |   CTXH MÁI ẤM QUÊ HƯƠNG
                        
                        p.card-text
                            i.far.fa-clock.pr-2
                            |   21/04/2019
                        p.card-text
                            i.far.fa-map.pr-2
                            |   1210, Đường ĐT743, Ấp Tân Long, Xã Tân Đông Hiệp, Huyện Dĩ An – Bình Dương.
                    .m-auto
                    img.float-right.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                    //<button type="button" class="btn btn-primary btn-rounded">Primary</button>
                .view.overlay
                    //- img.card-img-top.rounded-0(src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap")
                    //- #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                    //-     ol.carousel-indicators
                    //-         li(data-target="#carousel-example-1z" data-slide-to="0").active
                    //-         li(data-target="#carousel-example-1z" data-slide-to="1")
                    //-         li(data-target="#carousel-example-1z" data-slide-to="2")
                    //-     .carousel-inner(role="listbox")
                    //-         .carousel-item.active
                    //-             img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide")
                    //-         .carousel-item
                    //-             img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="First slide")
                    //-         .carousel-item
                    //-             img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="First slide")
                    //-     a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                    //-         span.carousel-control-prev-icon(aria-hidden="true")
                    //-         span.sr-only
                    //-             |   Previous
                    //-     a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                    //-         span.carousel-control-next-icon(aria-hidden="true")
                    //-         span.sr-only
                    //-             |   Next
                    a(href="#!")
                        .mask.rgba-white-slight
                .card-body
                    p   RẤT GẤP]
                    p   Tuyển CTV hỗ trợ chương trình JOB FAIR khoa KTXD
                    p   Thời gian: 15h30 ngày 26/04/2019
                    p   Số lượng: 10 CTV
                    p   Tập trung ở sân B6 
                    p   Quyền lợi: CTXH tùy thuộc vào mức độ công việc (0.5 - 1 ngày)
                    p   Các bạn lên trựa tiếp và gọi điện ch bạn quản lý
                    p   Liên hệ: 0353161275 (Sơn)

      
                    div
                        button.btn.btn-primary.btn-rounded.btn-sm
                            |   Đăng Ký
                        button.btn.btn-primary.btn-rounded.btn-sm
                            |   Bình Luận
                        button.btn.btn-primary.btn-rounded.btn-sm
                            |   Thành Viên
                           
                        i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle="tooltip" data-placement="top" title="Share this post")
                        i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(data-toggle="tooltip" data-placement="top" title="I like it")
                            |  200
                .card-body
                    img.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                    input#comment.input-rounded(type="text", name="comment", placeholder="comment...")
                .card-body
                    ul.comment
                        li.comment-item
                            img.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                            span.name Nguyễn Văn A
                            i.far.fa-clock.pr-2
                            |   21/04/2019
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        li.comment-item
                            img.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                            span.name Nguyễn Văn A
                            i.far.fa-clock.pr-2
                            |   21/04/2019
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        li.comment-item
                            img.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                            span.name Nguyễn Văn A
                            i.far.fa-clock.pr-2
                            |   21/04/2019
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        