doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        title
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/mdb.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
    body
        .banner
            .caption-left
                a.navbar-brand2(href="/")
                    img(src="/img/hcmut.png", alt="hcmut.png", heigh = "200", width = "200")
                br(style="line-height:10")
                h1 Theo dõi hoạt động công tác xã hội của các khoa một cách nhanh chóng
            .caption-right
                a.btn.btn-primary(href="/auth/google") 
                    img(src="/img/hcmut.png", alt="hcmut.png", heigh = "30", width = "30")
                    | &nbsp Đăng Nhập

        script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/js/popper.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="/js/mdb.min.js")
        script.
            $('.toast').toast()
        block script