doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        title
        //
            favicon
            ============================================
        link(rel='shortcut icon' type='image/x-icon' href='/assets/img/favicon.ico')
        //
            Google Fonts
            ============================================
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900' rel='stylesheet')
        //
            font awesome CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/font-awesome.min.css')
        //
            owl.carousel CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/owl.carousel.css')
        link(rel='stylesheet' href='/assets/css/owl.theme.css')
        link(rel='stylesheet' href='/assets/css/owl.transitions.css')
        //
            meanmenu CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/meanmenu/meanmenu.min.css')
        //
            animate CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/animate.css')
        //
            normalize CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/normalize.css')
        //
            mCustomScrollbar CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/scrollbar/jquery.mCustomScrollbar.min.css')
        //
            jvectormap CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/jvectormap/jquery-jvectormap-2.0.3.css')
        //
            Notika icon CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/notika-custom-icon.css')
        //
            wave CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/wave/waves.min.css')
        link(rel="stylesheet" href="/assets/css/wave/button.css")
        link(rel="stylesheet" href="/assets/css/bootstrap-select/bootstrap-select.css")
        //
            main CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/main.css')
        //
            responsive CSS
            ============================================
        link(rel='stylesheet' href='/assets/css/responsive.css')
        //
            modernizr JS
            ============================================
        script(src='/assets/js/vendor/modernizr-2.8.3.min.js')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/mdb.min.css" rel="stylesheet")
        //- link(href="/css/style2.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        
    body
        include partials/header
        
        .mt-100
        .container
            .row
                .col-lg-3.hidden-sm
                    
                    if title != "Search"
                        include partials/sidebar
                    else
                        include partials/filter
                .col-lg-9.col-sm-12
                    block content
        script(src='/js/jquery-3.3.1.min.js')
        script(src='/assets/js/bootstrap.min.js')
        //
            wow JS
            ============================================
        script(src='/assets/js/wow.min.js')
        script(src='/assets/js/meanmenu/jquery.meanmenu.js')

        script(src='/assets/js/sparkline/jquery.sparkline.min.js')
        script(src='/assets/js/sparkline/sparkline-active.js')
        //
            knob JS
            ============================================
        script(src='/assets/js/knob/jquery.knob.js')
        script(src='/assets/js/knob/jquery.appear.js')
        script(src='/assets/js/knob/knob-active.js')
        //
            wave JS
            ============================================
        script(src='/assets/js/wave/waves.min.js')
        script(src='/assets/js/wave/wave-active.js')
        //
            plugins JS
            ============================================
        script(src='/assets/js/plugins.js')
        script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/js/popper.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="/js/mdb.min.js")
        script.
            $('.toast').toast()
        block script