body {
    overflow-x: hidden;
}

nav.navbar {
    background-color: #4267b2;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}

.navbar-brand2 img {
    width: 200px;
    height: auto;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.form-round {
    border-radius: 50px;
    width: 500px !important;
    background: #ffffff;
    padding-left: 10px;
}

.form-round input {
    border: none;
    line-height: 20px;
    width: 400px;
}

.form-round input:focus {
    outline: none;
}

.btn-search {
    border-radius: 50px;
    height: 30px;
    margin: 2px;
    margin-left: 17px;
    box-shadow: none;
}

.btn-search:hover,
.btn-search:focus {
    box-shadow: none;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

.mt-100 {
    margin-top: 5em;
}

#sidebar ul li {
    list-style-type: none;
    border: none;
    transition: 0.1s;
}

#sidebar ul li:hover {
    background-color: #4267b2;
    color: white !important;
}

#sidebar ul li:hover a {
    color: white !important;
}

#sidebar button {
    padding: 10px;
    font-size: 10px;
    text-align: left;
}

#sidebar a {
    color: black;
    transition: 0.1s;
}

.testimonial-card .avatar {
    margin-top: -60px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.testimonial-card .card-title {
    text-align: center;
}

.btn-rounded {
    border-radius: 100px;
}

.input-rounded {
    border-radius: 100px;
    padding: 10px;
    border: 1px solid gray;
    margin-left: 20px;
    width: 90%;
}

ul.comment li.comment-item {
    list-style: none;
}

ul.comment li.comment-item i {
    margin-left: 20px;
}

ul.comment li.comment-item .name {
    font-weight: 500;
    margin-left: 20px;
}

ul.comment li.comment-item p {
    padding-top: 5px;
    margin-left: 20px;
}

.banner {
    position: relative;
    background-image: url("../img/IMG_1789.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner .caption-left {
    position: absolute;
    width: 30%;
    text-align: center;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 10vh;
    background: #0d48a148;
    box-shadow: 5px 5px 9999px #ffffff;
}

.banner .caption-left h1 {
    width: 80%;
    text-align: center;
    margin: auto;
    color: #ffffff;
    text-shadow: 0px 0px 5px #0d48a1;
    font-weight: 700;
}

.banner .caption-right {
    position: absolute;
    width: 70%;
    text-align: center;
    top: 0;
    right: 0;
    height: 100vh;
    padding-top: 50vh;
    background: #0d48a148;
    box-shadow: 5px 5px 9999px #ffffff;
}

.sub-title {
    font-size: 10px !important;
}
.custom-popover-width {
    width: 50% !important;
}

.custom-card {
    padding: 5px;
}

.custom-card .card-body{
    padding: 0px;
}