.header-top-area
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .logo-area
          a(href='#')
            img(src='/img/hcmut.png', alt='', style="width: 50px; height: auto;")
      .col-lg-8.col-md-8.col-sm-12.col-xs-12
        .header-top-menu
          ul.nav.navbar-nav.notika-top-nav
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
                span
                  i.fa.fa-search
              .dropdown-menu.search-dd.animated.flipInX(role='menu')
                .search-input
                  i.fa.fa-arrow-left
                  input(type='text')
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
                span
                  i.fa.fa-envelope-o
              .dropdown-menu.message-dd.animated.zoomIn(role='menu')
                .hd-mg-tt
                  h2 Messages
                .hd-message-info
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/1.jpg' alt='')
                      .hd-mg-ctn
                        h3 David Belle
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/2.jpg' alt='')
                      .hd-mg-ctn
                        h3 Jonathan Morris
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/4.jpg' alt='')
                      .hd-mg-ctn
                        h3 Fredric Mitchell
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/1.jpg' alt='')
                      .hd-mg-ctn
                        h3 David Belle
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/2.jpg' alt='')
                      .hd-mg-ctn
                        h3 Glenn Jecobs
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                .hd-mg-va
                  a(href='#') View All
            li.nav-item.nc-al
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
                span
                  i.fa.fa-bell-o
                .spinner4.spinner-4
                .ntd-ctn
                  span 3
              .dropdown-menu.message-dd.notification-dd.animated.zoomIn(role='menu')
                .hd-mg-tt
                  h2 Notification
                .hd-message-info
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/1.jpg' alt='')
                      .hd-mg-ctn
                        h3 David Belle
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/2.jpg' alt='')
                      .hd-mg-ctn
                        h3 Jonathan Morris
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/4.jpg' alt='')
                      .hd-mg-ctn
                        h3 Fredric Mitchell
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/1.jpg' alt='')
                      .hd-mg-ctn
                        h3 David Belle
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img
                        img(src='/assets/img/post/2.jpg' alt='')
                      .hd-mg-ctn
                        h3 Glenn Jecobs
                        p Cum sociis natoque penatibus et magnis dis parturient montes
                .hd-mg-va
                  a(href='#') View All
            li.nav-item
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
                span
                  i.fa.fa-tasks
                .spinner4.spinner-4
                .ntd-ctn
                  span 2
              .dropdown-menu.message-dd.task-dd.animated.zoomIn(role='menu')
                .hd-mg-tt
                  h2 Tasks
                .hd-message-info.hd-task-info
                  .skill
                    .progress
                      .lead-content
                        p HTML5 Validation Report
                      .progress-bar.wow.fadeInLeft(data-progress='95%' style='width: 95%;' data-wow-duration='1.5s' data-wow-delay='1.2s')
                        span 95%
                    .progress
                      .lead-content
                        p Google Chrome Extension
                      .progress-bar.wow.fadeInLeft(data-progress='85%' style='width: 85%;' data-wow-duration='1.5s' data-wow-delay='1.2s')
                        span 85%
                    .progress
                      .lead-content
                        p Social Internet Projects
                      .progress-bar.wow.fadeInLeft(data-progress='75%' style='width: 75%;' data-wow-duration='1.5s' data-wow-delay='1.2s')
                        span 75%
                    .progress
                      .lead-content
                        p Bootstrap Admin
                      .progress-bar.wow.fadeInLeft(data-progress='65%' style='width: 65%;' data-wow-duration='1.5s' data-wow-delay='1.2s')
                        span 65%
                    .progress.progress-bt
                      .lead-content
                        p Youtube App
                      .progress-bar.wow.fadeInLeft(data-progress='55%' style='width: 55%;' data-wow-duration='1.5s' data-wow-delay='1.2s')
                        span 55%
                .hd-mg-va
                  a(href='#') View All
            li.nav-item
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-expanded='false')
                span
                  i.fa.fa-comment-o
              .dropdown-menu.message-dd.chat-dd.animated.zoomIn(role='menu')
                .hd-mg-tt
                  h2 Chat
                .search-people
                  i.notika-icon.notika-left-arrow
                  input(type='text' placeholder='Search People')
                .hd-message-info
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img.chat-img
                        img(src='/assets/img/post/1.jpg' alt='')
                        .chat-avaible
                          i.notika-icon.notika-dot
                      .hd-mg-ctn
                        h3 David Belle
                        p Available
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img.chat-img
                        img(src='/assets/img/post/2.jpg' alt='')
                      .hd-mg-ctn
                        h3 Jonathan Morris
                        p Last seen 3 hours ago
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img.chat-img
                        img(src='/assets/img/post/4.jpg' alt='')
                      .hd-mg-ctn
                        h3 Fredric Mitchell
                        p Last seen 2 minutes ago
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img.chat-img
                        img(src='/assets/img/post/1.jpg' alt='')
                        .chat-avaible
                          i.notika-icon.notika-dot
                      .hd-mg-ctn
                        h3 David Belle
                        p Available
                  a(href='#')
                    .hd-message-sn
                      .hd-message-img.chat-img
                        img(src='/assets/img/post/2.jpg' alt='')
                        .chat-avaible
                          i.notika-icon.notika-dot
                      .hd-mg-ctn
                        h3 Glenn Jecobs
                        p Available
                .hd-mg-va
                  a(href='#') View All