.main-menu-area.mg-tb-40
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        ul.nav.nav-tabs.notika-menu-wrap.menu-it-icon-pro
          li.active
            a(data-toggle='tab' href='#Home')
              i.fa.fa-home
              |  Tổng quan
          li
            a(href='/admin/general')
              i.fa.fa-envelope-o
              |  Thông tin chung
          li
            a(data-toggle='tab' href='#Post')
              i.fa.fa-envelope-o
              |  Hoạt động
          li
            a(data-toggle='tab' href='#Account')
              i.fa.fa-user
              |  Quản Lý Tài Khoản
          //- li
          //-   a(data-toggle='tab' href='#Interface')
          //-     i.notika-icon.notika-edit
          //-     |  Interface
          //- li
          //-   a(data-toggle='tab' href='#Charts')
          //-     i.notika-icon.notika-bar-chart
          //-     |  Charts
          //- li
          //-   a(data-toggle='tab' href='#Tables')
          //-     i.notika-icon.notika-windows
          //-     |  Tables
          //- li
          //-   a(data-toggle='tab' href='#Forms')
          //-     i.notika-icon.notika-form
          //-     |  Forms
          //- li
          //-   a(data-toggle='tab' href='#Appviews')
          //-     i.notika-icon.notika-app
          //-     |  App views
          //- li
          //-   a(data-toggle='tab' href='#Page')
          //-     i.notika-icon.notika-support
          //-     |  Pages
        .tab-content.custom-menu-content
          #Home.tab-pane.active.in.notika-tab-menu-bg.animated.flipInX
            //- ul.notika-main-menu-dropdown
            //-   li
            //-     a(href='index.html') Dashboard One
            //-   li
            //-     a(href='index-2.html') Dashboard Two
            //-   li
            //-     a(href='index-3.html') Dashboard Three
            //-   li
            //-     a(href='index-4.html') Dashboard Four
            //-   li
            //-     a(href='analytics.html') Analytics
            //-   li
            //-     a(href='widgets.html') Widgets
          #Post.tab-pane.notika-tab-menu-bg.animated.flipInX
            ul.notika-main-menu-dropdown
              li
                a(href='/admin/post/list') Hoạt động của tôi
              li
                a(href='/admin/post/add') Thêm hoạt động
          #Account.tab-pane.notika-tab-menu-bg.animated.flipInX
            ul.notika-main-menu-dropdown
              li
                a(href='/admin/account/list') Danh sách tài khoản
              li
                a(href='/admin/account/add') Thêm tài khoản
          //- #Interface.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='animations.html') Animations
          //-     li
          //-       a(href='google-map.html') Google Map
          //-     li
          //-       a(href='data-map.html') Data Maps
          //-     li
          //-       a(href='code-editor.html') Code Editor
          //-     li
          //-       a(href='image-cropper.html') Images Cropper
          //-     li
          //-       a(href='wizard.html') Wizard
          //- #Charts.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='flot-charts.html') Flot Charts
          //-     li
          //-       a(href='bar-charts.html') Bar Charts
          //-     li
          //-       a(href='line-charts.html') Line Charts
          //-     li
          //-       a(href='area-charts.html') Area Charts
          //- #Tables.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='normal-table.html') Normal Table
          //-     li
          //-       a(href='data-table.html') Data Table
          //- #Forms.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='form-elements.html') Form Elements
          //-     li
          //-       a(href='form-components.html') Form Components
          //-     li
          //-       a(href='form-examples.html') Form Examples
          //- #Appviews.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='notification.html') Notifications
          //-     li
          //-       a(href='alert.html') Alerts
          //-     li
          //-       a(href='modals.html') Modals
          //-     li
          //-       a(href='buttons.html') Buttons
          //-     li
          //-       a(href='tabs.html') Tabs
          //-     li
          //-       a(href='accordion.html') Accordion
          //-     li
          //-       a(href='dialog.html') Dialogs
          //-     li
          //-       a(href='popovers.html') Popovers
          //-     li
          //-       a(href='tooltips.html') Tooltips
          //-     li
          //-       a(href='dropdown.html') Dropdowns
          //- #Page.tab-pane.notika-tab-menu-bg.animated.flipInX
          //-   ul.notika-main-menu-dropdown
          //-     li
          //-       a(href='contact.html') Contact
          //-     li
          //-       a(href='invoice.html') Invoice
          //-     li
          //-       a(href='typography.html') Typography
          //-     li
          //-       a(href='color.html') Color
          //-     li
          //-       a(href='login-register.html') Login Register
          //-     li
          //-       a(href='404.html') 404 Page
