.main-menu-area.mg-tb-40
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                ul.nav.nav-tabs.notika-menu-wrap.menu-it-icon-pro
                    li.active
                        a(data-toggle='tab' href='#Home')
                            i.fa.fa-home
                            |  Tổng quan
                    li
                        a(href='/admin/general')
                            i.fa.fa-envelope-o
                            |  Thông tin chung
                    li
                        a(data-toggle='tab' href='#Post')
                            i.fa.fa-envelope-o
                            |  Hoạt động
                    if user.role == 1
                        li
                            a(data-toggle='tab' href='#Account')
                                i.fa.fa-user
                                |  Quản Lý Tài Khoản
                .tab-content.custom-menu-content
                    #Home.tab-pane.active.in.notika-tab-menu-bg.animated.flipInX
                    #Post.tab-pane.notika-tab-menu-bg.animated.flipInX
                        ul.notika-main-menu-dropdown
                            li
                                a(href='/admin/post/list') Hoạt động của tôi
                            li
                                a(href='/admin/post/add') Thêm hoạt động
                    #Account.tab-pane.notika-tab-menu-bg.animated.flipInX
                        ul.notika-main-menu-dropdown
                            li
                                a(href='/admin/account/list') Danh sách tài khoản
                            li
                                a(href='/admin/account/add') Thêm tài khoản
