.main-menu-area.mg-tb-40
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                ul.nav.nav-tabs.notika-menu-wrap.menu-it-icon-pro
                    //- li#home
                    //-     a(data-toggle='tab' href='#Home')
                    //-         i.fa.fa-home
                    //-         |  Tổng quan
                    li#general
                        a(href='/admin/general')
                            i.fa.fa-envelope-o
                            |  Thông tin chung
                    li#post
                        a(data-toggle='tab' href='#Post')
                            i.fa.fa-envelope-o
                            |  Hoạt động
                    if user.role == 1
                        li#account
                            a(data-toggle='tab' href='#Account')
                                i.fa.fa-user
                                |  Quản Lý Tài Khoản
                .tab-content.custom-menu-content
                    //- #Home.tab-pane.active.in.notika-tab-menu-bg.animated.flipInX
                    #Post.tab-pane.notika-tab-menu-bg.animated.flipInX
                        ul.notika-main-menu-dropdown
                            li
                                a(href='/admin/post/list') 
                                    i.fa.fa-user(aria-hidden='true')
                                    |   Hoạt động của tôi
                            if user.role == 1
                                li
                                    a(href='/admin/post/manage')
                                        i.fa.fa-users(aria-hidden='true')
                                        |   Hoạt động tôi quản lý
                            li
                                a(href='/admin/post/add')
                                    i.fa.fa-plus(aria-hidden='true')
                                    |   Thêm hoạt động
                    #Account.tab-pane.notika-tab-menu-bg.animated.flipInX
                        ul.notika-main-menu-dropdown
                            li
                                a(href='/admin/account/list')
                                    i.fa.fa-users(aria-hidden='true')
                                    |   Danh sách tài khoản
                            li
                                a(href='/admin/account/add')
                                    i.fa.fa-plus(aria-hidden='true')
                                    |   Thêm tài khoản
